body{
  background: url('Registration/digital-lavender-natural-landscape.jpg') fixed;
  background-size: cover;
  background-position: center;
  
  
}

.container {
  margin-top: 50px;
  color:#ff0000;
}

.screen {
  display: none;
  margin-top: 20px;
}
.screen h2{
  text-align: center;
}

.nav-pills .nav-link {
  color: #ff0000;
}

.nav-pills .nav-link i {
  margin-right: 5px;
}

.nav-pills .nav-link.active,
.nav-pills .nav-link:hover {
  background-color: #007bff;
  color: #fff;
}

header {
  margin-bottom: 30px;
  text-align: center;
}

h2{
  color:#f5f5f5;
}
header h1 {
  font-weight: bold;
  font-size: 32px;
  margin-bottom: 10px;
}

.avatar {
  display: block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin: 20px auto;
}

.about-section {
  margin-bottom: 30px;
}

.organization-section{
  background-color: rgb(245, 245, 245,0.3);
  padding: 30px;
  border-radius: 5px;
}

.experience-section,
.projects-section {
  margin-bottom: 50px;
}

.experience-section ul,
.projects-section {
  list-style: none;
  padding: 0;
}

.experience-section li {
  margin-bottom: 10px;
}

.project {
  margin-bottom: 20px;
}

.project h4 {
  margin-bottom: 5px;
}

#homeScreen {
  text-align: center;
}

#homeScreen h2 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #fff;
}

.about-section {
  margin-bottom: 30px;
  background-color: rgb(255, 255, 255, 0.7);
  padding: 20px;
  border-radius: 10px;
}

.about-section p {
  font-size: 16px;
  color: #333;
  padding: 10px 70px 20px 70px;
}

.experience-section,
.projects-section {
  margin-bottom: 50px;
}

.experience-section ul,
.projects-section {
  list-style: none;
  padding: 0;
}

.experience-section li,
.projects-section .project {
  margin-bottom: 20px;
}

.experience-section li::before {
  content: "\2022";
  color: #007bff;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.project {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  background-color: #ffcccc;
  transition: box-shadow 0.3s;
}

.project:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.project h4 {
  margin-bottom: 10px;
  font-size: 20px;
  color: #333;
}

.project p {
  color: #777;
}

@keyframes jumpAnimation {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-20px);
  }
  25% {
    transform: translateY(0);
  }
}

header h1 {
  font-weight: bold;
  font-size: 32px;
  margin-bottom: 10px;
}

header h1 span {
  display: inline-block;
  animation: jumpAnimation 2s infinite;
  animation-delay: calc(var(--delay) * 0.2s);
}

.view-more-btn {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.view-more-btn:hover {
  background-color: #0056b3;
}

.view-project-btn {
  display: inline-block;
  margin-top: 10px;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  color: #007bff;
  border: 1px solid #007bff;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.view-project-btn:hover {
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
}
.social-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.social-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  padding: 12px 20px;
  font-size: 16px;
  text-decoration: none;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.social-button:hover {
  background-color: #0056b3;
}
.project-list p{
  padding: 20px auto;
  

}
 .project-list li{
  color: #333;
  background-color: #ffcccc;
  border-radius: 8px;
 }

.project-list ul {
  list-style-type: none;
  padding: 0;
  text-align: center;

}

.project-list li {
  margin-bottom: 10px;
}

.project-list a {
  display: inline-block;
  padding: 8px 12px;
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  color: #007bff;
  background-color: #f5f5f5;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.project-list a:hover {
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
}


.footer {
  margin-top: 20px;
  text-align: center;
  color: #888;
}

.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-content {
  text-align: center;
}

.spinner {
  animation: spin 1s linear infinite;
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  

}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
